body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
  }
  
  main {
    flex: 1;
    overflow-y: auto; 
  }
  
  .footer {
    background-color: #0288d1;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
  }
  