/* Global Styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
}

/* Centered Text */
.centered-text {
  text-align: center;
  margin-top: 20px;
  font-size: 2em;
  color: #4a90e2;
}

/* Search Bar */
.search-bar {
  margin: 20px 0;
  text-align: center;
}

.search-bar input {
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 300px;
}

/* Movie Cards */
.movie-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  margin-top: 50px;
}

.movie-card {
  border: 1px solid #a3c9f1;
  padding: 16px;
  border-radius: 8px;
  background-color: #e6f2ff;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.movie-card:hover {
  transform: scale(1.05);
  background-color: #cfe9fc;
}

.movie-card h3 {
  font-size: 1.2em;
  margin-bottom: 8px;
  color: #4a90e2;
}

.movie-card p {
  font-size: 1em;
  color: #333;
}

/* Sort Options & Calendar Container */
.sort-options, .calendar-container {
  margin-top: 20px;
}

/* Modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 50px;
  border-radius: 10px;
  max-width: 400px;
  width: 100%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.3s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Buttons */
button {
  cursor: pointer;
}

button.add-movie {
  padding: 12px 18px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  margin-bottom: 10px;
  transition: background-color 0.3s, transform 0.3s ease;
  position: relative;
  top: 20px;
}

button.add-movie:hover {
  background-color: #45a049;
  transform: scale(1.05);
}

button.add-movie::before {
  content: "+";
  margin-right: 8px;
}

button.add-movie:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(72, 181, 97, 0.7);
}

/* Responsive Adjustments */
@media screen and (max-width: 768px) {
  .movie-cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .search-bar input {
    width: 90%;
  }
}

@media screen and (max-width: 480px) {
  .movie-cards {
    grid-template-columns: 1fr;
  }

  .modal-content {
    padding: 30px;
  }
}
