body {
  font-family: Arial, sans-serif;
  background-color: #70c3e4;
  color: #1372ca;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 0;
  background-image: url('assets/pozadina.jpg');
  background-size: cover; 
  background-position: center; 
}

html, body {
  height: 70%;
}

footer p {
  margin: 0;
  font-size: 14px;
}

